@model Catagorytask.Models.AllCatagory_Table1

@{
    Layout = null;
}



@using (Html.BeginForm("Add", "Home", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Sno, htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.EditorFor(model => model.Sno, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.Sno)

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Catagory, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Catagory, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.Catagory)
        
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="input-group" id="Name" name="Name" required>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(Model => Model.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.Quantity)
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Created_on, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(model => model.Created_on, new
   {
       @id = "YourDateId",
       @type = "date",
       @Value = DateTime.Now.ToString("yyyy'-'MM'-'dd")
   })
        @Html.ValidationMessageFor(Model => Model.Created_on)

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Created_by, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Created_by, new { htmlAttributes = new { @Value = @User.Identity.Name } })
        
        @Html.ValidationMessageFor(Model => Model.Created_by)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Updated_on, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(model => model.Updated_on, new
         {
             @id = "YourDateId",
             @type = "date",
  @Value = DateTime.Now.ToString("yyyy'-'MM'-'dd")
         })
        @Html.ValidationMessageFor(Model => Model.Updated_on)

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Updated_by, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Updated_by, new { htmlAttributes = new { @Value = @User.Identity.Name } })
        @Html.ValidationMessageFor(Model => Model.Updated_by)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="input-group" id="Price" name="Price" required>
            <span class="input-group-addon">$</span>
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(Model => Model.Price)
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-warning" />
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
